<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Image</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
   
</head>
<body>





<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">ImageRepo</p>

        </div>

        <div class="col-md-9">
            <div class="card" >
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">

                <div class="container">
                    <h4 class="float-right"><%=image.price%>></h4>
                    <h4><%= image.name%></h4>
                    <p><%= image.description%></p>

                    <p>
                        <em>Submitted by <%= image.author.username%></em>
                    </p>
                    <%if(currentUser && image.author.id.equals(currentUser._id)){%>

                        <form id = "delete-form" action="/images/<%=image._id%>?_method=DELETE" method="post">
                            <button class="delete-form" class="btn btn-danger">DELETE</button>
                        </form>
                    <%}%>

                </div>
            </div>


                </div>

            </div>
   

</div>

</body>
</html>
